.container {

    .search .filter .tooltip::before {
        left: 37%;
    }

    .cards {
        .card {
            width: 362px;

            .tags {

                .male {
                    --tag-color: #007bff; 
                }
                .female {
                    --tag-color: #ff69b4; 
                }

                .executive {
                    --tag-color: #dd1414; 
                }
                .programmer {
                    --tag-color: #32cdcd; 
                }
                .artist {
                    --tag-color: #f35454; 
                }

                .canyonCreek {
                    --tag-color: #ff8c00; 
                }
                .fernwood {
                    --tag-color: #00a651; 
                }
                .cottageLake {
                    --tag-color: #8a2be2; 
                }
                .woodin {
                    --tag-color: #ff4500; 
                }

            }
        }
    }
}